$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$btn-primary: #1e555c;
$btn-warning: #d0ada7;
$btn-danger: #edb183;
$btn-success: #98473e;
$carasoul: #e6e4e3;
$btn-white: #fdfdfd;
$btn-new: #d0ada7;
$btn-dark: #181717;
