.header {
  display: flex;
  padding: 0 1rem;
  &__logo {
    width: 6.5vw;
  }
  &__container {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
    justify-content: flex-start;
    margin-right: auto;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--secondary-color);
  }
}
